.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

    button {
        margin: 0 20px;
        width: 300px;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-size: 20px;
        padding: 10px 5px;
        cursor: pointer;
    }

    svg {
        margin-bottom: 30px;
    }
}

.text-block-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;

    h1,
    p {
        margin: 0;
        padding: 0;
    }

    p {
        width: 70%;
        opacity: 0.5;
    }
}
